/* Tema */
.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
  transition: color 0.3s;
}

body.light-theme .theme-toggle {
  color: #000000;
}

body.light-theme {
  background-color: #f4f4f4;
  color: #000000;
}

body.light-theme .container {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.light-theme .participants-section {
  border-right: 1px solid #ddd;
}

body.light-theme .chat-section {
  border-right: 1px solid #ddd;
}

body.light-theme .chat-header,
body.light-theme .participants-header {
  color: #000000;
}

body.light-theme .chat-messages {
  border-bottom: 1px solid #ddd;
}

body.light-theme .chat-messages::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

body.light-theme .chat-messages::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

body.light-theme .message {
  color: #000000;
}

body.light-theme .chat-input {
  background-color: #ffffff;
}

body.light-theme .chat-input input {
  background-color: #ffffff;
  border: 1px solid #ddd;
  color: #000000;
}

body.light-theme .video-call-header {
  color: #000000;
}

body.light-theme .video-container h3 {
  color: #000000;
}

body.light-theme .participant {
  color: #000000;
}

/* Tema chiaro per la sezione .connection-option */
body.light-theme .connection-option {
  background-color: #ffffff; /* Sfondo bianco */
  border: 1px solid #ddd; /* Bordo leggero */
}

body.light-theme .connection-option h2 {
  color: #000000; /* Testo nero */
}

body.light-theme .connection-option p {
  color: #666666; /* Testo grigio scuro */
}

body.light-theme .connection-option input {
  background-color: #ffffff; /* Sfondo bianco */
  border-color: #ddd; /* Bordo leggero */
  color: #000000; /* Testo nero */
}

body.light-theme .connection-option input:focus {
  border-color: #007bff; /* Bordo blu quando in focus */
}

body.light-theme .connection-option button {
  background-color: #007bff; /* Sfondo blu */
  color: #ffffff; /* Testo bianco */
}

body.light-theme .connection-option button:hover {
  background-color: #0056b3; /* Sfondo blu scuro in hover */
}

body.light-theme .connection-option button#hangupButton {
  background-color: #dc3545; /* Sfondo rosso */
}

body.light-theme .connection-option button#hangupButton:hover {
  background-color: #c82333; /* Sfondo rosso scuro in hover */
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}


/* Container principale */
.container {
  display: flex;
  width: 90%;
  height: 86vh; /* Altezza relativa alla viewport */
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
  position: relative;
  overflow: hidden;
}


/* Sezione Partecipanti */
.participants-section {
  flex: 0.5;
  padding: 20px;
  border-right: 1px solid #333;
  transition: border-color 0.3s;
}

.participants-list {
  overflow-y: auto;
  word-break: break-word;
}

.participant {
  margin-bottom: 10px;
  transition: color 0.3s;
  overflow-wrap: break-word; /* Evita che nomi lunghi escano dal contenitore */
  max-width: 100%;
}

/* Sezione Chat */
.chat-section {
  flex: 2;
  padding: 20px;
  border-right: 1px solid #333;
  transition: border-color 0.3s;
  display: flex;
  flex-direction: column;
}

.chat-header, .participants-header, .video-call-header {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  transition: color 0.3s;
  text-align: center;
}
.video-call-header {
  margin-bottom: -10px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
  transition: border-color 0.3s;
  word-break: break-word;
}

/* Stile per la scrollbar */
.chat-messages::-webkit-scrollbar {
  width: 6px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 3px;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: #333;
}

.message {
  margin-bottom: 10px;
  transition: color 0.3s;
  word-wrap: break-word; /* Spezza le parole lunghe */
  overflow-wrap: break-word; /* Alternativa per compatibilità */
  white-space: pre-wrap; /* Mantiene i ritorni a capo */
  max-width: 100%; /* Impedisce che esca dai bordi */
}

.message a {
  color: #007bff;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}

.chat-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-input {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 10px;
  background-color: #2d2d2d;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #2d2d2d;
  color: #ffffff;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.file-upload-label {
  cursor: pointer;
  margin-right: 10px;
  font-size: 20px;
  color: #007bff;
}

.file-upload-label:hover {
  color: #0056b3;
}

.chat-input button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0056b3;
}

#callButton {
  padding: 20px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#callButton:hover {
  background-color: #218838;
}

#callButton.active {
  background-color: #dc3545;
}

#callButton.active:hover {
  background-color: #c82333;
}


/* Sezione Videochiamata */
.video-call-section {
  display: none;
  flex: 1; /* Adatta la sezione alla larghezza disponibile */
  padding: 10px;
}

.video-call-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  width: 75%; /* Adatta il video alla larghezza della sezione */
  max-width: 80%; /* Evita che il video superi la larghezza */
  aspect-ratio: 1 / 1; /* Mantieni un aspect ratio adatto */
  text-align: center; /* Centra il contenuto */
  position: relative; 
}


.video-container h3 {
  margin-bottom: 10px; /* Aggiunge un margine sotto l'header */
  transition: color 0.3s; /* Aggiunge transizione per il tema chiaro */
}

.video-player {
  background-color: rgb(62, 59, 59);
  width: 85%; /* Larghezza del video */
  aspect-ratio: 1 / 1; /* Rende il video quadrato */
  border-radius: 10px;
  object-fit: cover; /* Mantiene le proporzioni del video */
}

.video-controls {
  display: flex;
  justify-content: center; /* Centra le icone orizzontalmente */
  margin-top: 10px; /* Aggiunge un margine sopra le icone */
  position: absolute; /* Posiziona le icone in basso */
  bottom: 10px; /* Allinea le icone in basso */
  left: 50%; /* Centra le icone orizzontalmente */
  transform: translateX(-50%); /* Centra le icone orizzontalmente */
}

.video-controls button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%; /* Rende i pulsanti circolari */
  width: 50px; /* Aumentiamo la larghezza del pulsante */
  height: 50px; /* Aumentiamo l'altezza del pulsante */
  margin: 0 10px; /* Aumentiamo il margine tra i pulsanti */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Aumentiamo la dimensione dell'icona */
}

.video-controls button:hover {
  background-color: #0056b3;
}

/* Allinea lo stream locale e le icone con "Termina chiamata" */
.video-container.local {
  margin-top: auto; /* Spinge lo stream locale e le icone verso il basso */
}



/* Opzioni di connessione */
.connection-option {
  position: relative;
  top: 210px;
  padding: 10px;
  background-color: #2d2d2d;
  border-radius: 10px;
  transition: background-color 0.3s;
  width: auto; /* Larghezza fissa per la sezione */
}


.connection-option h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
  transition: color 0.3s;
}

.connection-option p {
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.connection-option input,
.connection-option button {
  width: 100%; /* Larghezza al 100% del contenitore */
  height: 40px; /* Altezza fissa */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #ffffff;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  box-sizing: border-box; /* Include padding e bordi nella larghezza */
  font-size: 14px;
  display: flex;
  align-items: center; /* Allinea il testo verticalmente */
  justify-content: center; /* Allinea il testo orizzontalmente */
}

.connection-option input:focus {
  outline: none;
  border-color: #007bff;
}

.connection-option button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.connection-option button:hover {
  background-color: #0056b3;
}

.connection-option button#hangupButton {
  background-color: #dc3545;
}

.connection-option button#hangupButton:hover {
  background-color: #c82333;
}
/* Base per il body e tema scuro */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

/* Contenitore del form */
.request-container {
  background-color: #2a2a2a; /* Tema scuro */
  color: #f4f4f4;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
}

body.light-theme .request-container {
  background-color: #ffffff; /* Tema chiaro */
  color: #333333;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

body .request-container input,
body .request-container button {
  background-color: #192235; /* Colore scuro per input e bottoni */
  color: #fff;
  border: 1px solid #272525;
  border-radius: 8px;
  padding: 12px 18px;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

body.light-theme .request-container input,
body.light-theme .request-container button {
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #ddd;
}

body:not(.light-theme) .request-container input:focus,
body:not(.light-theme) .request-container button:hover {
  background-color: #191f24;
  border-color: #2b2c2d;
}

body.light-theme .request-container input:focus,
body.light-theme .request-container button:hover {
  background-color: #17212c;
  border-color: #1d252e;
}

/* Stilizzazione per la visibilità della richiesta del nome */
.name-request {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: visible;
  transition: background-color 0.3s ease;
}

body:not(.light-theme) .name-request {
  background-color: rgba(0, 0, 0, 0.7);
}

body.light-theme .name-request {
  background-color: rgba(255, 255, 255, 0.7);
}

.disabled-button {
  background-color: #ccc ;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}


/* Footer */
/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  }
  
  body.light-theme .footer {
  color: #333;
  }
  
  .footer p {
    margin: 5px 0;
}